.table {
    width: 100vw;
    min-width: 500px;
    aspect-ratio: 2 / 1;
    min-height: 800px;
    max-height: 90vh;
    background: #247345;
    border-radius: 80% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 50px;
    border: 30px solid #340a0d;
    border-top: 0;
}
@media only screen and (max-width: 1300px) {
    .table {
        width: 100vw;
        height: 200vh;
        background: #247345;
        border-radius: 0;
        padding: 30px;
        position: relative;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-left: 0;
        border-right: 0;
    }
}
