/* Standard Playing Card Size is 2.5 in x 3.5 in */
.playing-card {
    width: 150px;
    height: 210px;
    background-color: white;
    border: 5px solid #333;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    font-family: "Arial", sans-serif;
    margin: 1%;
}

.playing-card-back {
    width: 130px;
    height: 190px;
    background-color: darkred;
}

.playing-card-top {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 5%;
    left: 5%;
    font-weight: bold;
    line-height: 0.8;
}

.playing-card-center {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    text-align: center;
}

.playing-card-bottom {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    bottom: 5%;
    right: 5%;
    rotate: 180deg;
    font-weight: bold;
    line-height: 0.8;
}

.playing-card-text {
    font-size: 2em;
}

.playing-card-symbol {
    font-size: 8em;
}

.playing-card-symbol-edge {
    font-size: 3em;
}
